{% extends "layout.html" %}

{% block content%}

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>User</span></th>
                                    <th><span>Email</span></th>
                                    <th><span>Available DA</span></th>
                                    <th><span>Absent DA</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in users%}
                                <tr>
                                    <td>
                                    <a href="#" class="link-underline-light">{{i.user.first_name}}
                                            {{i.user.last_name}}</a>
                                        <!-- <a href="#" class="link-underline-light">{{i.user}}</a> -->
                                    </td>
                                    <td>
                                        <a href="#" class="link-underline-light">{{i.user.email}}</a>
                                        <!-- <a href="#" class="link-underline-light">dddd</a> -->
                                    </td>
                                    <td>{{i.date_came}}</td>
                                    <td> - </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}