{% extends "layout.html" %}

{% block content%}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="d-flex justify-content-between" style="padding: 20px 30px 10px 20px;">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                    <div class="d-flex justify-content-around">

                        <div class="d-flex justify-content-evenly" style="align-items: flex-end;">
                            <a href="{% url 'restart_model' %}">Restart model</a>
                        </div>

                        <div style="margin-left: 15px;">
                            <a href="/add_user">
                                <button type="button" class="btn btn-success">
                                    <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
                <hr>
                </hr>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Added</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Image</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Uploade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in users%}
                            <tr>
                                <td class="pl-4">{{forloop.counter}}</td>
                                <td>
                                    <h5 class="font-medium mb-0">
                                        <a href="/user/{{i.id}}" class="link-underline-light">{{i.username}}</a>
                                    </h5>
                                </td>
                                <td>
                                    <span class="text-muted">{{i.email}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{i.date_joined.date}}</span><br>
                                    <span class="text-muted">{{i.date_joined.time}}</span>
                                </td>
                                <td>

                                    <div>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#m{{i.id}}">
                                            <i class="fa-regular fa-images" style="color: #ffffff;"></i>
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="m{{i.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">User
                                                            models</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="modal-body">
                                                            {% for f in i.imagemodel_set.all %}
                                                            <img src="{{f.image.url}}" style="width: 200px;" alt="">
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                        <div>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#p{{i.id}}">
                                                <i class="fa-regular fa-folder" style="color: #ffffff;"></i>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="p{{i.id}}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" style="max-height: 400px;">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                Uploade
                                                                Images</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form action="{% url 'uploade_file_image' i.username %}" method="post" enctype="multipart/form-data">
                                                            <div class="modal-body d-flex justify-content-center" 
                                                                style="max-height: 400px;overflow-y: auto; ">
                                                                <label for="file-upload" class="custom-file-upload">
                                                                    <i class="fa-solid fa-cloud-arrow-up fa-2xl"
                                                                        style="color: #5d71eb;"></i>
                                                                </label>
                                                                <input id="file-upload" type="file" multiple
                                                                    style="display:none;">
                                                                <div id="image-preview"></div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-success">Uploade</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-primary" id="btn-camera{{i.id}}"
                                                    data-bs-toggle="modal" data-id="{% url 'video_feed' i.username %}"
                                                    data-bs-target="#img{{i.id}}">
                                                    <i class="fa-solid fa-video " style="color: #ffffff;"></i>
                                                </button>
                                            </div>
                                            <div class="modal fade" id="img{{i.id}}" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable modal-lg"
                                                    style="max-width: 700px; max-height: 700px;">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                                Add user model</h1>
                                                            <button type="button" id="btn-close{{i.id}}"
                                                                class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <form action="">
                                                            <div class="modal-body">
                                                                <div>
                                                                    <img style="width: 500;height: 500;" src=""
                                                                        id="camera{{i.id}}">
                                                                    <input type="hidden" value="{{i.username}}">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <script>
                                document.getElementById('file-upload').addEventListener('change', function (event) {
                                    // const uploade = false;
                                    const fileList = event.target.files;
                                    const imagePreview = document.getElementById('image-preview');
                                    // if (event.target.files > 0) {
                                    //     uploade = true;
                                    // }
                                    // Clear previous previews
                                    imagePreview.innerHTML = '';
                                    // Loop through each selected file
                                    for (let i = 0; i < fileList.length; i++) {
                                        const file = fileList[i];

                                        // Check if the file is an image
                                        if (!file.type.startsWith('image/')) {
                                            console.log('File is not an image:', file.name);
                                            continue;
                                        }

                                        // Read the image file as a data URL
                                        const reader = new FileReader();
                                        reader.onload = function (event) {
                                            const imageUrl = event.target.result;
                                            // Create an <img> element to display the image
                                            const imgElement = document.createElement('img');
                                            imgElement.src = imageUrl;
                                            imgElement.style.maxWidth = '100px'; // Adjust image size if needed
                                            imgElement.style.marginRight = '10px'; // Adjust spacing if needed
                                            // Append the <img> element to the image preview container
                                            imagePreview.appendChild(imgElement);
                                        }
                                        reader.readAsDataURL(file);
                                    }
                                });



                                document.getElementById('btn-camera{{i.id}}').addEventListener('click', function () {
                                    let image_src = this.dataset.id;
                                    console.log(image_src);
                                    document.getElementById('camera{{i.id}}').setAttribute('src', image_src);
                                })
                                document.getElementById('btn-close{{i.id}}').addEventListener('click', function () {
                                    let image_src = this.dataset.id;
                                    console.log(image_src);
                                    document.getElementById('camera{{i.id}}').setAttribute('src', '');
                                })
                            </script>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}